.none{
    display: none;
}

.fixture{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 150px;
    background-color: lightgray;
}

.liga{
    display: flex;
    justify-content: center;
    background-color: lightgray;
    padding: 20px;
    gap: 10px;
}

.liga img{
    width: 80px;
    height: 80px;
}
