.none{
    display: none !important;
}

.fixture{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 150px;
    background-color: lightgray;
    position: relative;
}

.liga{
    display: flex;
    justify-content: center;
    background-color: lightgray;
    padding: 20px;
    gap: 10px;
}

.liga img{
    width: 30px;
    height: 30px;
}


#game{
    position: absolute;
    display: flex;
    background-color: rgba(127, 127, 127, 0.8);
    width: 100%;
    height: 100%;
    justify-content: center;
}