.gameEstadistica{
    height: fit-content;
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    background-color: rgb(247, 247, 247);
}

.gameEstadistica .teams{
    display: flex;
    gap: 5rem;
    justify-content: center;
    width: 100%;
}

.gameEstadistica .head{
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color:lightgray;
}


.head img{
    width: 45px;
    height: auto;
}

.teams div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.teams h3{
    text-align: center;
    font-variant: all-petite-caps;
}

.score,.status{
    text-align: center;
}

.score {
    font-size: 40px;
}

.info p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.info h2,.info p{
    color: rgb(214, 27, 27);
}

.score{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.score div{
    display: flex;
    justify-content: space-around;
}

.score p{
    font-size: 20px;
}

.score h3{
    background-color: lightgray;
    margin: 0;
}

.score .score-team-name{
    flex: 1;
    text-align: start;
}

.score div:not(.score-team-name){
    gap: 20px;
}

